<%- contentFor("title") %>
Home Page


<%- contentFor("styles") %>
<!-- For CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/static/common/styles/home.css">


<%- contentFor("content") %>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mb-4">
            <div class="homeParent1">
                <img class="homeIMGTop1" src="/static/common/images/abd/pic1.jpg">
                <div class="homeTopDiv1">
                    <h2 class="homeH">New 2021 collection</h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 mb-4 d-flex justify-content-center">
            <div class="homeParent2">
                <img class="homeIMGTop2" src="/static/common/images/abd/pic2.jpg">
                <div class="homeTopDiv2">
                    <p class="homeP">Enjoy An Extra</p>
                    <h2 class="homeH">50% OFF</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="homeParent3">
                <img class="homeIMGMid1" src="/static/common/images/abd/product-46.jpg">
                <div class="homeMidDiv1">
                    <h4 class="homeH">Watch collection</h4>
                    <p class="homeP">Shop Now <i class="bi bi-arrow-right-square-fill"></i></p>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="homeParent3">
                <img class="homeIMGMid1" src="/static/common/images/abd/product-46.jpg">
                <div class="homeMidDiv1">
                    <h4 class="homeH">Watch collection</h4>
                    <p class="homeP">Shop Now <i class="bi bi-arrow-right-square-fill"></i></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="homeParent3">
                <img class="homeIMGMid1" src="/static/common/images/abd/product-47.jpg">
                <div class="homeMidDiv1">
                    <h4 class="homeH">Mens Sneaker</h4>
                    <p class="homeP">Shop Now <i class="bi bi-arrow-right-square-fill"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h2>New Arrivals</h2>
        <h4><i class="bi bi-arrow-down-square-fill"></i></h4>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="homeParent4">
                <img class="homeIMGMid2" src="<%= products[0].images.image %>">
                <div class="homeMidDiv2">
                    <h4 class="homeMid2H"><%= products[0].name.substring(0, 20) + (products[0].name.length>20? "..." : "") %></h4>
                    <p class="homeMid2P">$ <%= products[0].price %></p>
                    <div class="homeicons d-flex justify-content-center">
                        <i class="bi bi-eye"></i>
                        <i class="bi bi-cart-plus-fill"></i>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="homeParent4">
                <img class="homeIMGMid2" src="/static/common/images/abd/product-7.jpg">
                <div class="homeMidDiv2">
                    <h4 class="homeMid2H">Leather Sneakers</h4>
                    <p class="homeMid2P">$50.00</p>
                    <div class="homeicons d-flex justify-content-center">
                        <i class="bi bi-eye"></i>
                        <i class="bi bi-cart-plus-fill"></i>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="homeParent4">
                <img class="homeIMGMid2" src="/static/common/images/abd/product-32.jpg">
                <div class="homeMidDiv2">
                    <h4 class="homeMid2H">Leaf Print Shirt</h4>
                    <p class="homeMid2P">$50.00</p>
                    <div class="homeicons d-flex justify-content-center">
                        <i class="bi bi-eye"></i>
                        <i class="bi bi-cart-plus-fill"></i>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="homeParent4">
                <img class="homeIMGMid2" src="/static/common/images/abd/product-10.jpg">
                <div class="homeMidDiv2">
                    <h4 class="homeMid2H">Cross body Bag</h4>
                    <p class="homeMid2P">$50.00</p>
                    <div class="homeicons d-flex justify-content-center">
                        <i class="bi bi-eye"></i>
                        <i class="bi bi-cart-plus-fill"></i>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="homeParent4">
                <img class="homeIMGMid2" src="/static/common/images/abd/product-48.jpg">
                <div class="homeMidDiv2">
                    <h4 class="homeMid2H">Sweatshirt with pocket</h4>
                    <p class="homeMid2P">$50.00</p>
                    <div class="homeicons d-flex justify-content-center">
                        <i class="bi bi-eye"></i>
                        <i class="bi bi-cart-plus-fill"></i>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="homeParent4">
                <img class="homeIMGMid2" src="/static/common/images/abd/product-6.jpg">
                <div class="homeMidDiv2">
                    <h4 class="homeMid2H">Cotton Floral Print Dress</h4>
                    <p class="homeMid2P">$50.00</p>
                    <div class="homeicons d-flex justify-content-center">
                        <i class="bi bi-eye"></i>
                        <i class="bi bi-cart-plus-fill"></i>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>